body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
}

#calculator {
    grid-column: 3/-1;
    grid-row: 1/2;
}

#contact {
    align-items: center;
    background-color: #2F3133;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    height: 87vh;
    justify-content: center;
    width: 100%;
}

.contactDetails {
    align-items: center;
    color: white;
    display: flex;
    font-size: 25px;
    text-decoration: none;
}

.contactDetails:hover {transform: translateY(8px); transition: all 0.3s;}

#contactLinks {
    display: flex;
    justify-content: space-around;
    margin: 30px 0px;
    width: 50%;
    height: auto;
}

#contactLinks img {
    padding: 0px 5px;
    width: 30px;
}

#contact p {
    font-size: 20px;
    font-style: italic;
    margin-top: -40px;
}

figcaption {
    background-color: #2F3133;
    padding: 20px 0px;
    width: 400px;
}

footer {
    align-items: center;
    background-color: #2F3133;
    border-top: 3px solid #BE3144;
    display: flex;
    height: 13vh;
    justify-content: space-around;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
}

footer img {
    padding: 0px 7px;
    width: 20px;
}

footer p {
    color: white;
    font-size: 20px;
}

#header {
    background-color: #BE3144;
    position: fixed;
    width: 100vw;
} 

.hidden {
    color: #2F3133;
}

.project-tile:hover .hidden { color: rgb(244, 108, 58);  transition: all 1s}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mapData {
    grid-column: 1/2;
    grid-row: 2/-1;
}

#navbar {
    position: relative;
    left: 80%;
    width: 18%;
}

#navbar ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 5px 0%;
}

#navbar a {
    color: rgb(232, 232, 232);
    font-size: 23px;
    text-decoration: none;
    padding: 20px;
}

#navbar a:hover {background-color: #45567D;}

#projects {
    align-items: center;
    background-color: #45567D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0%;
    min-height: 100vh; 
    padding: 0%;
    width: 100%;
}

#projects h2 {
    color: white;
    font-size: 42px;
    padding-top: 60px;
    text-align: center;
    text-decoration: underline;
}

#projectsBtn {
    background-color: #2F3133;
    font-size: 20px;
    padding: 15px 30px;
    margin: 50px 0px;
}

#projectsBtn:hover { background-color: #BE3144; transition: all 0.5s;}

#projectsBtn a {
    color: white;
    text-decoration: none;
}

#projectsContainer {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, minmax(200px, 430px));
    grid-template-rows: repeat(2, auto);
    width: 100%;
}

#projectsContainer a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}

#projectsContainer img {
    height: 389.69px;
    margin: 0%;
    margin-bottom: -10px;
    object-fit: cover;
    width: 400px;
}

#quoteMachine {
    grid-column: 2/3;
    grid-row: 1/2; 
}

#ticTacToe {
    grid-column: 3/-1;
    grid-row: 2/-1;;
}

#tributePage {
    grid-column: 1/2;
    grid-row: 1/2;
}

#welcome-section {
    align-items: center;
    background-color: #2F3133;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: auto;
}

#welcome-section h1 {
    color: white;
    font-size: 50px;
    margin-bottom: 0px;
}

#welcome-section p {
    color: #BE3144;
    font-size: 30px;
    font-style: italic;
    margin-top: 5px;
}

#wikipediaViewer {
    grid-column: 2/3;
    grid-row: 2/-1;
}

@media(max-width: 300px) {
    #navbar a:hover {background-color: aquamarine;}
}